* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.heading{
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
}

.script{
    margin: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: start;
}

.print{
    font-size: 4rem;
}